<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">s
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/templates/static/styles.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Portfolio</title>
</head>

<body style="background-image: -webkit-image-set('https://img.freepik.com/premium-photo/abstract-white-background-with-smooth-lines_476363-1518.jpg?size=626&ext=jpg&uid=R68194178&semt=sph');">
    <!-- Navbar Section -->
    {% include "navbar.html" %}


    <!-- Carousel wrapper -->
    <div id="carouselExampleControls" class="carousel slide text-center carousel-dark " data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h5 class="mb-3">OGOLA SOSPETER</h5>

                        <p>Software Engineer
                            <> Android Developer</p>

                        {% include "about.html" %}

                    </div>
                </div>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="fas fa-star fa-sm"></i></li>
                    <li><i class="far fa-star fa-sm"></i></li>
                </ul>
            </div>

        </div>

    </div>
    <!-- Carousel wrapper -->


    {% include "milestone.html" %}

    <!-- Carousel wrapper -->

    <!--  Sample Projects-->

    {% include "projects.html" %}
    <!--  Sample Projects-->

    <!--Education Content-->
    {% include "education.html" %}

    <!--Education Content-->


    <div class="section bg-color" id="skill">
        <div class="container my-2">
            <div class="h4 text-center mb-4 title" id="Prof-skill">Professional Skills</div>
            <div class="section">
                <aside>
                    <h5 style="text-align: center; ">Programming Languages:</h5><br>

                    <!-- Team member -->
                    {% include "languages.html" %}

                    <!-- ./Team member -->
                </aside>
                <div style="text-align: center;">
                    {% include "technicals.html" %}
                </div>
            </div>
        </div>
    </div>

    <!--Contact Section-->
    {% include "contact.html" %}
    <!--Contact Section-->
    </div>
    </div>

    </div>
    <!--Page Footer-->

    {% include "footer.html" %}
    <!--Page Footer-->




</body>

</html>