<section>
    <nav class="navbar navbar-expand-sm bg-success navbar-light " style="display: flex;position:sticky;justify-content: center; align-content: space-around; flex-direction: row; flex-flow: row; flex: content;">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="">
            <img src="https://img.freepik.com/free-vector/laptop-with-program-code-isometric-icon-software-development-programming-applications-dark-neon_39422-971.jpg?size=626&ext=jpg&uid=R68194178&semt=sph" alt="logo" style="width:40px;height: 40px;  border-radius: 50%;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_Navbar">
	<span class="navbar-toggler-icon"></span>
	</button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#educational-info">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#Prof-skill">Professional Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#contact-us">Contact Us</a>
                </li>

            </ul>
            <a class="navbar-brand" id="navbarText">
                <img src="https://img.freepik.com/free-photo/html-system-website-concept_23-2150376770.jpg?size=626&ext=jpg&uid=R68194178&semt=sph" alt="avatar" style="width:40px;height: 40px;  border-radius: 50%;" />
            </a>
        </div>
    </nav>
</section>