<section id="projects">
    <style>
        .projectcontainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>

    <div class="section">
        <div class="container my-2">
            <div class="h4 text-center mb-4 title" id="project-info">Projects</div>
            <div id="project-container" class="projectcontainer"></div>
            <!-- Projects will be automatically displayed.-->
        </div>
    </div>
    <!-- Make sure to include Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script>
        $.ajax({
            url: '/projects/',
            method: 'GET',
            success: function(data) {
                const projectContainer = $('#project-container');

                data.forEach(function(project) {
                    const card = $('<div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">');
                    const cardBody = $('<div class="card-body">');

                    // Display image using an img tag
                    cardBody.append(`<img src="${project.image}" alt="${project.name}" class="img-fluid">`);
                    cardBody.append(`<div class="h5">${project.name}</div>`);
                    cardBody.append(`<p class="category">${project.description}</p>`);
                    cardBody.append(`<p>${project.year}</p>`);

                    // Display link using an a tag
                    cardBody.append(`<p><a href="${project.link}" target="_blank">Visit Project</a></p>`);

                    // Populate projects
                    if (project.projects && project.projects.length > 0) {
                        const projectsList = $('<ul>');
                        project.projects.forEach(function(subProject) {
                            const listItem = $('<li>').html(`${subProject.name}<i>${subProject.description}</i>`);
                            projectsList.append(listItem);
                        });
                        cardBody.append(`<p><b>Projects:</b><br>${projectsList.html()}</p>`);
                    }

                    card.append(cardBody);
                    projectContainer.append(card);
                });
            },
            error: function(err) {
                console.error('Error fetching project data:', err);
            }
        })
    </script>
</section>